<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676848296875-s9i3takj2d9tk5ghtvb7krcitoal8qkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676848296875-s9i3takj2d9tk5ghtvb7krcitoal8qkc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676848296875-r23tqp64rs36bianmne16dbqvmj9gh8c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARiFnYsEJsfTZXK9u34-AbXFhlDyk-aDk</string>
	<key>GCM_SENDER_ID</key>
	<string>676848296875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lightgamesinc.beatmaster</string>
	<key>PROJECT_ID</key>
	<string>beatmaster-346621</string>
	<key>STORAGE_BUCKET</key>
	<string>beatmaster-346621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676848296875:ios:bdab0cb2946e8c624568ee</string>
</dict>
</plist>